# Historial y entorno R
.Rhistory
.RData
.RDataTmp
.Rproj.user

# Archivos renderizados
*.html
*.pdf

# Datos crudos grandes
*.maf
*.tsv
*.gz
*.tar

# Carpetas grandes de datos
GDCdata/
data/
TCGA/

# Temporales
cache/
tmp/

# Logs
*.log

# Estudios melanoma crudos
M_Melanoma_*/
Melanoma_*/
S_Melanoma_*/

# Resultados antiguos
resultados_adicionales/

# Archivos auxiliares
MANIFEST.txt
README.txt
code_R_TFM_CR.Rmd
Text/